<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219560221542-shol1aem5o2nnhu2c5h58akiflo2apfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219560221542-shol1aem5o2nnhu2c5h58akiflo2apfm</string>
	<key>API_KEY</key>
	<string>AIzaSyCP0OXFV3e7RLz8srf8_4AQv3zO5HI9jvs</string>
	<key>GCM_SENDER_ID</key>
	<string>219560221542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GB.Some-New-Network</string>
	<key>PROJECT_ID</key>
	<string>somenewnetwork</string>
	<key>STORAGE_BUCKET</key>
	<string>somenewnetwork.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219560221542:ios:2ba1763cc21bf46e82c6a7</string>
</dict>
</plist>